<section class="hero pb-0 position-relative">
  <div class="background">
    {% if backgroundVideo %}
    <video playsinline="" autoplay="" muted="" loop="">
      <source src="{{ backgroundVideo }}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    {% endif %} {% if backgroundImage %}

    <picture>
      <source srcset="{{ backgroundImage }}" />
      <img src="{{ src }}" alt="{{ alt }}" />
    </picture>

    {% endif %}
  </div>

  <div class="hero-inner text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-10">
          <div class="hero-content w-md-80 mx-auto">
            <h1 class="hero-title">
              {{ title_prefix }}
              <strong class="typed-text"
                >{% for t in title %} <span>{{ t }}</span> {% endfor %}</strong
              >
              {{ title_suffix }}
            </h1>
            <p class="hero-lead">{{ subTitle }}</p>

            <div class="hero-cta">
              <div>
                <a
                  href="/contact"
                  target="_self"
                  class="btn btn-primary"
                  aria-label="{{ button }}"
                  ><span class="link-icon link-icon-arrow">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="14"
                      height="14"
                      fill="none"
                    >
                      <path
                        fill="#0D1116"
                        d="M.285 12.877a.4.4 0 0 1-.001-.567L10.593 1.994h-8.49a.4.4 0 0 1-.4-.4V.4c0-.22.18-.4.4-.4H14v11.899a.4.4 0 0 1-.396.4l-1.193.012a.4.4 0 0 1-.404-.4V3.4L1.697 13.717a.4.4 0 0 1-.565 0l-.847-.841Z"
                      ></path>
                    </svg> </span
                  >{{ button }}</a
                >
              </div>
            </div>
          </div>
          <div class="hero-media mt-4 mt-lg-8">
            <picture>
              <source srcset="{{ image }}" media="(max-width: 575px)" />
              <img src="{{ image }}" alt="{{ imageAlt }}" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
