<section class="hero pb-0 position-relative">
  <div class="background">
    {% if backgroundVideo %}
    <video playsinline="" autoplay="" muted="" loop="">
      <source src="{{ backgroundVideo }}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    {% endif %} {% if backgroundImage %}

    <picture>
      <source srcset="{{ backgroundImage }}" />
      <img src="{{ backgroundImage }}" alt="" />
    </picture>

    {% endif %}
  </div>

  <div class="hero-inner text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-10">
          <div class="hero-content w-md-80 mx-auto">
            <h1 class="hero-title">
              {{ title_prefix }}
              <strong class="hero-typed-text"
                >{% for t in title %} <span>{{ t }}</span> {% endfor %}</strong
              >
              {{ title_suffix }}
            </h1>
            <p class="hero-lead">{{ subTitle }}</p>
            <div class="hero-cta">
              <div>
                <a
                  href="/contact"
                  target="_self"
                  class="btn btn-secondary"
                  aria-label="{{ button }}"
                  >{{ button }}</a
                >
              </div>
            </div>
          </div>
          <div class="hero-media mt-4 mt-lg-8">
            <picture>
              <source srcset="{{ image }}" media="(max-width: 575px)" />
              <img src="{{ image }}" alt="{{ imageAlt }}" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
